.flex-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.left-side {
    width: 50%;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100%;
}

.right-side {
    width: 50%;
}

@media only screen and (device-width < 430px) {
    .left-side {
        display: none;
    }

    .right-side {
        width: 100%;
    }
}