.main-section {
    background-color: white;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 6rem;
}

.specials-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    max-width: 50rem;
    margin: 0 auto;
    padding: 60px 0;
    gap: 3rem;
}

.specials-title {
    font-family: 'Marzaki';
    font-weight: var(--fw-black);
    font-size: var(--fs-800);
    color: var(--clr-highlight-dark);
}

.specials-cards-container {
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    max-width: 70rem;
    gap: 4rem 2rem;
    flex-wrap: wrap;
    padding: 0 2rem;
}