.nav {
  background-color: white;
  color: var(--clr-highlight-dark);
  font-size: var(--fs-400);
  font-weight: var(--fw-bold);
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

.nav a.active {
  /*background-color: #edefee;*/
  color:black
}

.nav a:hover {
  background-color: var(--clr-highlight-light);
}
