@font-face {
  font-family: 'Marzaki';
  src: url('./assets/MarkaziText-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Karla';
  src: url('./assets/Karla-VariableFont_wght.ttf') format('truetype');
}

:root {
  --font-size-base: clamp(0.75rem, 0.34vw + 0.7rem, 0.875rem);

  --accent: 124, 58, 237;
  --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
    list-style: none;
}

menu,
ol,
ul {
    padding-left: 0;
}

article ol,
article ul {
    list-style-position: inside;
}